<div *ngIf="showTrucks" >
    <div class="scroll">
        <app-truck 
        *ngFor="let truck of trucks" 
        [truck]="truck"
        (onSetToActive)="setActiveTruck(truck)"
        (onDeleteTruck)="deleteTruck(truck)">
        </app-truck>
        <button class="btn" (click)="refreshData()">Create Truck Schedule</button>
    </div>
</div>   
    

<div *ngIf="showCreateTruck && showTrucks">   
    <div class="addTruck" >
            <p>Menu</p>
        <ul>{{menuName}}</ul>
            <p>Workers</p>
        <ul *ngFor="let employee of workers">{{employee.name}}</ul>

        <div class="createTruck">    
            <form  #truckForm="ngForm" class="truckFrom" (ngSubmit)="onSubmit(); truckForm.reset()">  
                    <tr><label for="Day">Day</label>
                        <input type="date" id="date" required [(ngModel)]="date" name="date"  placeholder="Enter Day"/>
                    </tr>
                    <tr>
                        <label for="location">Location</label>
                        <select name="location" required [(ngModel)]="location" id="location">
                        <option value ="1">Location 1</option>
                        <option value ="2">Location 2</option>
                        <option value ="3">Location 3</option>
                        </select> 
                    </tr>    
                    <input type="submit" value="Save" class="btn"[ngStyle]="{'background-color':'green'}" [disabled]="!date || !location || workers.length<=0 || !menuName"/>
                <!--<input type="reset" value="Close" class="btn" [ngStyle]="{'background-color':'red'}" (click)="toggleMenuItemForm();menuItemForm.reset()"/>-->
            </form>
        </div>
    </div>
    

    <div class="addEmp">
        <h3>Employees</h3>
        <tr *ngFor="let employee of employees">
                <td style="width:175px"><h5>{{employee.name}}</h5></td>
                <td><button class="btn-small" (click)="chooseEmployees(employee)">Add/Remove</button></td>
        </tr>
    </div>


    <div class="scrollMenu">
        <h3>Menus</h3>
        <div *ngFor="let menu of menus">
            <li class="dropdown-item" (click)="chooseMenu(menu)">{{menu.menuName}}</li>
        </div>
    </div> 

</div>
