<div class="banner">
    <div class="content">
        <h1 class="mb-3">Fresh Tasting Food  <br> Ready for You.</h1>
        <a routerLink="menu">SEE ITEMS <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<div class="container mt-5 mb-4">
    <h1 class="text-center"> How to <span class="highlight">find us</span></h1>
    <div class="row mt-5">
        <!-- one -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>select our truck</p>
            </div>
        </div>
        <!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>find the location</p>
            </div>
        </div>
        <!-- three -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>meet us there</p>
            </div>
        </div>

        
    </div>
</div>
