.createMenu{
    text-indent: 20px;    
}

.menuName{
    margin: 20px 65px;
    transform: scale(1.2);
   
}
.btn{
    display:float;
    margin-left: 25px;
}

.btn-small{
    margin-left: 2rem;
    
}