<div class="addEmployee">
<fieldset class="fieldset"><legend>Add New Employee</legend>
<form #employeeHire="ngForm" (ngSubmit)="addNewEmployee();employeeHire.reset()">   
    <div>
        <input type="text" id="name" required [(ngModel)]="name" name="name"  placeholder="Employee Name"/>
    </div>
    <div>
        <input type="tel" id="phoneNumber" required [(ngModel)]="phoneNumber" name="phoneNumber"  placeholder="Phone Number"/>
    </div>
    <div>       
        <input type="submit" value="Hire" class="btn"[ngStyle]="{'background-color':'green'}" [disabled]="!name || !phoneNumber"/>
    </div>
    </form>
</fieldset>
</div>
