.scroll {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width:45%;
    margin-left: 10px;
    vertical-align: top;
  }

.addEmployee{
    max-height: 200px;
    overflow: auto;
    width: 40%;
    max-height: 450px;
    display:inline-block;
    vertical-align: top;

}