.displayMenus{
    text-indent:20px;
    padding: 5px 10px;
    float:left;
}

.btn-delete{
    color: rgb(255, 1, 1);
    padding: 0px 3px;
    margin: 1px;
    transform: scale(.75);
    text-align: center;
    cursor: pointer;

}


