
<h5>{{menuItem.name}} ${{menuItem.price}}<small>  -{{menuItem.description}}</small></h5>
<button name="addToNewMenu" class="btn-small"(click)="addToNewMenu(menuItem)"> Add to Menu</button> 
<button class="btn-small" (click)="toggleShowPriceChangeForm()">Update Price</button>
<button class= "btn-small"(click)="onDelete(menuItem)">Delete</button>
<div *ngIf="showPriceChangeForm">
    <form #priceChange="ngForm">
        <input type="number" name="price" [(ngModel)]="price" id="price" placeholder="Enter a price"/>
        <button class="btn-small" (click)="updatePrice(menuItem); priceChange.reset()" (click)="toggleShowPriceChangeForm()">Change Price</button>
    </form>
    </div>

