
.navbar-light .navbar-nav .nav-link
{
    color: var(--secondary-color);
    
} 

.navbar-light .navbar-nav .nav-link.active-link
{
    color: var(--primary-color);
    text-decoration: underline;
    
} 

.navbar-brand 
{
    text-decoration: none;
    background-color: #fff;
    color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    
}

.navbar-brand:hover
{
    background-color: var(--primary-color);
    color: #fff;
}