<nav class="navbar navbar-expand-lg navbar-light">

  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">cosmicfoodtruck</a>
    <div class="text-center">
      <img src="https://th.bing.com/th/id/OIP.DPbq-W1ENITEmFhO5p3tEwHaG3?pid=ImgDet&rs=1"
        style="width: 80px;" alt="logo">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a class="nav-link" routerLink="menu" routerLinkActive="active-link" >Menu</a>
        <a class="nav-link" routerLink="about" routerLinkActive="active-link" >About</a>
        <a class="nav-link" routerLink="contact" routerLinkActive="active-link" >Contact</a>
      
      </div>
    </div>
  </div>
</nav>

